body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: darkcyan;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 600px;
  max-width: 800px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: rgb(87, 76, 76);
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.instructions {
  color: rgb(87, 76, 76);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}
.die {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button {
  padding: 1rem;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: rgb(112, 0, 163);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
